*{
    margin: 0;
    padding: 0;
    
}

p{
    font-size: larger;
}

.baixeNossoApp{
    margin-top: 50px;
}
.baixeNossoAppImg img{ 
    border-radius: 20px;
    max-width: 600px;
}

.baixeNossoAppTxt{
    width: 100px;
    padding: 20px;
  
}

.enfeite h2::before{ 
    content: '';
    display: inline-block;
    width: 1px;
    height: 150px;
    margin-right: 30px;
    margin-bottom: 20px;
    background-color: #355038;
}
.carousel{ 
    width: 100%;
    margin-bottom: 1000px;
}